<a href="https://colab.research.google.com/github/michaelakinosho/codingdojo/blob/main/10_11_Pandas_Cereals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
<img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/2470/s300/cd-logo-blue-600x600.png" alt="Coding Dojo Logo" class="center" height="50">

# Pandas

*Make a copy of this notebook to edit!*
```
File > Save a copy in Drive
```

We will use data on various breakfast cereals. You can download the data [here](https://drive.google.com/file/d/1YzP0CF_stFjav6fkXeQ0J0gpk1PQoY2l/view?usp=sharing).

<img src="https://media4.popsugar-assets.com/files/2016/02/22/834/n/1922398/10b0a4ff59945843_feb_22_cereal.xxxlarge_2x.jpg" alt="Coding Dojo Logo" class="center" height="250">

</center>

Mount Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Import Libraries

In [ ]:
# Imports

Load Data

In [ ]:
# Load Data

View the last 5 rows of the dataset.

Check the column datatypes

How many rows and columns are there?

Select just the name column.

In [ ]:
# As a series:

In [ ]:
# As a dataframe:

Select rows 50 - 55 of the name column.

Are there any duplicated names in the 'name' column?  If not, set 'name' to the index.

What are the unique values of manufacturers and how many of each are there?

What is the average number of grams of sugar for all Kelloggs cereals?

How many grams of protein do Cheerios have?

Which cereals have fewer than 3 grams of sugars?

What are the minimum & maximum amount of calories per serving for General Mills cereals?

Select all the columns for the cereal(s) with the lowest number of calories.

How many cereals have 0 grams of fat?

Labeling laws changed!  2 or fewer grams of sugar can now be recorded as 0 grams of sugar.  Change all the values in 'grams of sugar' that are less than or equal to 2 to 0.

# Bonus!

Group the dataframe by Manufacturer.

Sort the result by the mean average grams of sugar for each manufacturer in descending order.